#header {font-size: 40px}
#vorpalButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#testButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#sandButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#circleButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}

#vorpalButton:hover {background: #4a0e97; color: #f5f6f7}
#testButton:hover {background: #970e19; color: #f5f6f7}
#sandButton:hover {background: #27970e; color: #f5f6f7}
#circleButton:hover {background: #d7b810; color: #f5f6f7}
