#header {font-size: 40px}
#vorpalButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#testButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#sandButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#circleButton {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#bookmarklets {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}
#circlePhysics {transition-duration: 500ms; height: 50px; width: 125px; border-radius: 25%}

#vorpalButton:hover {background: #4a0e97; color: #ffffff
}
#testButton:hover {background: #970e19; color: #ffffff
}
#sandButton:hover {background: #27970e; color: #000000
}
#circleButton:hover {background: #d7b810; color: #000000
}
#bookmarklets:hover {background-color: #00f7ff; color: #000000
}
#circlePhysics:hover {background: #278378; color: #000000
}