body {
    background-color: #6b6b6b;
    margin: 0;
}

#screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: absolute;
    width: 80%;
    height: 90%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 30px;
    background-color: #5a4767;
    border: 2px solid #271736;
    border-radius: 25px;
}

#slider_text {
    color: aliceblue;
    position: absolute;
    top: 10%;
    left: 81%;
}

.slider_container {
    position: absolute;
    width: 30%;
    background-color: darkgray;
    height: 5%;
}